@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 500px;
    padding: 40px 15px;
    box-sizing: border-box;
    max-width: 400px;
}

body {
    --body-bg: #000000;
    --helper-color: #000000;
    --helper-bg: #A5A5A5;
    --ops-bg: #FF9F0A;
    --ops-color: #ffffff;
    --num-bg: #333333;
    --num-color: #ffffff;
    --display-color: #ffffff;

    transition: .4s;
}

body.light-theme {
    --body-bg: #ffffff;
    --helper-color: #000000;
    --helper-bg: #E4E4E6;
    --ops-bg: #FF9500;
    --ops-color: #ffffff;
    --num-bg: #F4F4F5;
    --num-color: #000000;
    --display-color: #000000;
}

 * {
    user-select: none;
    outline: none;
 }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: var(--body-bg);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 15px;
}

.display {
    height: 100px;
    width: 100%;
    align-self: end;
    padding: 0px 20px;
    box-sizing: border-box;
    color: var(--display-color);
    background: transparent;
    border: none;
    text-align: right;
    margin-bottom: 20px;
    font-size: 92px;
    font-weight: 150;
    font-family: "Inter", sans-serif;
    pointer-events: none;
}

.null-number {
    grid-column: span 2;
    border-radius: 40px !important;
    text-align: left;
    padding: 0 30px;
}

.calculator > button {
    border-radius: 50%;
    font-size:  40px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    transition: .1s ease;
}

.calculator > button:hover {
    opacity: 0.8;
}

.calculator > button:active {
    transform: scale(1.2);
}


.helper {
    font-size: 32px !important;
    background: var(--helper-bg);
    color: var(--helper-color);
}

#percent {
    font-size: 40px !important;
    background: var(--helper-bg);
    color: var(--helper-color); 
}

.operators, .equals {
    background: var(--ops-bg);
    color: var(--ops-color);
}

.numbers {
    background: var(--num-bg);
    color: var(--num-color);
}

#theme-switch-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    outline: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
}

#theme-switch-btn > img {
    width: 64px;
    height: 64px;
    transition: .4s;
}

button {
    touch-action: manipulation;
}